
.idea/
Problems/Task1/target/
Problems/Task1/.idea/
Problems/Task2/target/
Problems/Task2/.idea/
Problems/Task3/target/
Problems/Task3/.idea/
Problems/Task4/target/
Problems/Task4/.idea/
Problems/Task10/target/
Problems/Task10/.idea/
Labs/Lab1/gradlew.bat
Labs/Lab1/gradlew
Labs/Lab1/gradle/wrapper/gradle-wrapper.properties
Labs/Lab1/gradle/wrapper/gradle-wrapper.jar
Labs/Lab1/build/
Labs/Lab1/.idea/
Labs/Lab1/.gradle/
.idea/